branches:
  only:
    - master

skip_branch_with_pr: false

image:
    - Visual Studio 2019
    - Ubuntu

platform:
  - x86
  - x64

configuration:
  - Debug
  - Release

environment:
    VCPKG_SCRIPT: scripts/buildsystems/vcpkg.cmake

matrix:
    allow_failures:
        - platform: x86
          image: Ubuntu

for:
-
    matrix:
        only:
            - image: Ubuntu
    cache: /home/appveyor/vcpkg

init:
    - sh: if [ $PLATFORM = "x86" ]; then exit 1; fi

install:
    - cmd: if "%PLATFORM%" == "x64" call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"
    - cmd: if "%PLATFORM%" == "x86" call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars32.bat"
    - ninja --version

before_build:
    - cmd: cd C:\tools\vcpkg
    - sh: cd /home/appveyor/vcpkg
    - git pull
    - cmd: .\bootstrap-vcpkg.bat
    - sh: ./bootstrap-vcpkg.sh
    - cmd: vcpkg install sdl2 sdl2-image gtest --triplet %PLATFORM%-windows    
    - sh: vcpkg install sdl2 sdl2-image gtest --triplet $PLATFORM-linux
    - vcpkg integrate install
    - cmd: cd %APPVEYOR_BUILD_FOLDER%
    - sh: cd $APPVEYOR_BUILD_FOLDER

cache: C:\tools\vcpkg\

build_script:
    - mkdir out
    - cd out
    - cmd : cmake -G "Ninja" -DCMAKE_BUILD_TYPE=%CONFIGURATION% -DCMAKE_TOOLCHAIN_FILE=c:/tools/vcpkg/%VCPKG_SCRIPT% ..
    - sh : cmake -G "Ninja" -DCMAKE_BUILD_TYPE=%CONFIGURATION% -DCMAKE_TOOLCHAIN_FILE=-DCMAKE_TOOLCHAIN_FILE=/home/appveyor/vcpkg/scripts/buildsystems/vcpkg.cmake ..

test_script:
    - cmake --build .
    - ctest -V
    - cmake -P cmake_install.cmake
